###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               localhost
        alias                   localhost
        address                 127.0.0.1
        }

define host{
	use 			linux-server
	host_name		router
	address			192.168.10.1
	
}

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               serverA
        alias                   server1
        address                 192.168.20.20
	notifications_enabled        1
        notification_period          24x7
        notification_interval        120
        notification_options         d,r

        contacts                     nagiosadmin
	parents                 router
        }
define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               serverB
        alias                   server1
        address                 192.168.20.21
	notifications_enabled        1
        notification_period          24x7
        notification_interval        120
        notification_options         d,r

        contacts                     nagiosadmin
	parents                 router
        }
define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               jenkins
        alias                   jenkins
        address                 192.168.20.10
	notifications_enabled        1
        notification_period          24x7
        notification_interval        120
        notification_options         d,r

        contacts                     nagiosadmin
	parents                 router
        }
define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               ansible
        alias                   ansible
        address                 192.168.20.11
	notifications_enabled        1
        notification_period          24x7
        notification_interval        120
        notification_options         d,r

        contacts                     nagiosadmin
	parents                 router
        }
define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               nexus
        alias                   nexus
        address                 192.168.20.12
	notifications_enabled        1
        notification_period          24x7
        notification_interval        120
        notification_options         d,r

        contacts                     nagiosadmin
	parents                 router
        }


define host {
    use                        generic-host
    name                        passive_host
    active_checks_enabled        0
    passive_checks_enabled        1
    flap_detection_enabled        0
    register                    0
    check_period                24x7
    max_check_attempts        1
    check_interval            5
    retry_interval            1
    check_freshness            0
    contact_groups            admins
    check_command            check_dummy!0
    notification_interval    60
    notification_period        24x7
    notification_options        d,u,r
}


define service {
    use                        generic-service
    name                        passive_service
    active_checks_enabled        0
    passive_checks_enabled        1
    flap_detection_enabled        0
    register                    0
    check_period                24x7
    max_check_attempts        1
    check_interval            5
    retry_interval            1
    check_freshness            0
    contact_groups            admins
    check_command            check_dummy!0
    notification_interval    60
    notification_period        24x7
    notification_options        w,u,c,r
}


define service {
    use                    passive_service
    service_description    passive_jmx_check
    host_name              serverA,serverB
}

define service {
    use                    passive_service
    service_description    catalina_info
    host_name              serverA,serverB
}

###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  linux-servers ; The name of the hostgroup
        alias           Linux Servers ; Long name of the group
        members         localhost,tomcat,todd ; Comma separated list of hosts that belong to this group
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost,router,nexus,jenkins,ansible,serverA,serverB
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Root Partition
	check_command			check_local_disk!20%!10%!/
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Current Users
	check_command			check_local_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Total Processes
	check_command			check_local_procs!250!400!RSZDT
        }



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Current Load
	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Swap Usage
	check_command			check_local_swap!20!10
        }



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       localhost
#        service_description             SSH
#	check_command			check_ssh
#	notifications_enabled		0
#        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.



define service{
        use                             local-service         ; Name of service template to use
        host_name                       serverA,serverB
        service_description             HTTP
	check_command			check_http!-p 8080
	notifications_enabled        	1
   	notification_period          	24x7
   	notification_interval        	120
   	notification_options         	c,r
   	contacts                     	nagiosadmin
#	event_handler_enabled		1
#	max_check_attempts 4
	event_handler check_nrpe!checa_tomcat -a '$SERVICESTATE$ $SERVICESTATETYPE$ $SERVICEATTEMPT$'
        }

define service{
	use generic-service
	host_name serverA,serverB
	service_description tomcatViaNrpeJmx
	check_command check_nrpe!check_jmx
	notifications_enabled        	0
}

define service{
	use generic-service
	host_name serverA,serverB
	service_description toddViaJMX
	check_command check_todd_jmx
	event_handler check_nrpe!checar_todd -a '$SERVICESTATE$ $SERVICESTATETYPE$ $SERVICEATTEMPT$'
}

define service{
	use generic-service
	host_name serverA,serverB
	service_description toddSessionsSize
	check_command check_todd_size
}
define service{
	use generic-service
	host_name serverA,serverB
	service_description toddSessionsAvailable
	check_command check_todd_available!7!6
}

define service{
	use generic-service
	host_name serverA,serverB
	service_description toddSPercentAvailable
	check_command check_todd_percent!$SERVICEOUTPUT:todd:toddSessionsAvailable$!$SERVICEOUTPUT:todd:toddSessionsSize$ -w 30 -c 20
	notifications_enabled        	1
   	notification_period          	24x7
   	notification_interval        	120
   	notification_options         	c
   	contacts                     	nagiosadmin
}

define service{
	use generic-service
	host_name serverA,serverB
	service_description conexoes ao TODD
	check_command check_todd_jmx2
}

define service{
	use generic-service
	host_name serverA,serverB
	service_description CPU Load
	check_command check_nrpe!check_load
}
define service{
	use generic-service
	host_name serverA,serverB
	service_description Current Users
	check_command check_nrpe!check_users
}

define service{
	use generic-service
	host_name serverA,serverB
	service_description /dev/sda1 Free Space
	check_command check_nrpe!check_hda1
}
define service{
	use generic-service
	host_name serverA,serverB
	service_description Total Processes
	check_command check_nrpe!check_total_procs
}
define service{
	use generic-service
	host_name serverA,serverB
	service_description Zombie Processes
	check_command check_nrpe!check_zombie_procs
}

