[Unit]
Description = Todd Java Service

[Service]
Type = forking
ExecStart = /root/ToddService.sh start
ExecStop = /root/ToddService.sh stop
ExecReload = /root/ToddService.sh reload

[Install]
WantedBy=multi-user.target
